<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td>Blank</td>
        <td>Blank</td>
        <td><%= link_to 'Edit', edit_category_task_path(@category, task), class: "tableLink" %></td>
        <td><%= link_to 'Delete', edit_category_task_path(@category, task), class: "tableLink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>