<div class="newTaskCon">
  <div class ="newTaskTitleCon">
    <span class="titleAdd">Add</span>
    <span class="titleNew">New</span>
    <span class="titleTask">Task</span>
  </div>
  <div class ="newTaskFormCon">
     <%= render "form", category: @category, task: @task %>
  </div>
</div>