<div class="body">
  <div class="logo">
  <%= image_tag("ourjournalIcon.png", size: "450x280", alt: "facebook") %>
  </div>
  <div class="about">
    <span class="bigFont"><strong>OurJournal</strong> is an easy, free, and flexible way</span><br>
    <span class="medFont">to manage your tasks and organize anything.</span><br>
    <span class="medFont">It is trusted by millions of people from all over the globe.</span>
  </div>
</div>