/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

$card-height: 100%;

// Reset padding, border, margin
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

// variables
:root {
  --color-palette-imperialRed: #E63946;
  --color-palette-honeydew: #F1FAEE;
  --color-palette-powderBlue: #A8DADC;
  --color-palette-celadonBlue: #457B9D;
  --color-palette-prussianBlue: #1D3557;

  --footer-height: 17.5vw;
}

// PAGE CONTAINER
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  margin-bottom: 1vh; 
  padding-bottom: var(--footer-height);
}

// general designs
* {
  font-family: 'Gowun Dodum', sans-serif;
}
.smallFont {
  font-size: 1.2rem;
}
.medFont {
  font-size: 1.6rem;
}
.bigFont {
  font-size: 2rem;
}

// header
header, .signedInCon, .loginCon, .links, .userSignedIn {
  display: flex;
  align-items: center;
}
header, .signedInCon, .loginCon {
  justify-content: space-between;
}
.signedInCon, .link, .button {
  color: var(--color-palette-honeydew);
}

header {
  height: 10vh;
  width: 100%;
  padding: 0px 30px 0px 30px;
  background-color: var(--color-palette-imperialRed);
}
.signedInCon {
  width: 30%;
}
.loginCon {
  width: 200px;
  margin-right: 20px;
}
.links {
  justify-content: space-evenly;
  width: 500px;
}
.link:hover {
  color: #FF758F;
}
.button {
  border: 1.5px solid var(--color-palette-honeydew);
  border-radius: 5px;
  background-color: transparent;
  letter-spacing: 0.05em;
  padding: 5px 10px;
}
.button:hover {
  border-color: var(--color-palette-honeydew);
  background-color: var(--color-palette-honeydew);
  color: var(--color-palette-imperialRed);
}

// body
.body, .logo, .about {
  display: flex;
  justify-content: center;
}
.body, .logo {
  align-items: center;
}
.logo, .about {
  height: 80%;
  width: 40%;
}

.body {
  width: 100%;
  min-height: 50vh;
}
.about {
  flex-direction: column;
  align-items: flex-start;
}