                                                                                                                                                                                                                                                                                                                                                                                                                                          // Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// variables
:root {
  --color-palette-imperialRed: #E63946;
  --color-palette-honeydew: #F1FAEE;
  --color-palette-powderBlue: #A8DADC;
  --color-palette-celadonBlue: #457B9D;
  --color-palette-prussianBlue: #1D3557;
}

// categories show
.myCol, .myCard, .cardHead, .cardBody, .cardFooter {
  display: flex;
  align-items: center;
}
.myCol, .myCard, .cardHead, .cardFooter {
  justify-content: center;
}
.myCard, .cardHead, .cardBody, .cardFooter {
  width: 100%;
}
.cardFooter, .cardHeadClr {
  color: var(--color-palette-honeydew);
}

.myCol {
  height: 200px;
  padding: 5px;
}
.myCard {
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--color-palette-celadonBlue);
  border-radius: 8px;
  overflow: hidden;
}
.cardHead {
  height: 30%;
  background-color: var(--color-palette-prussianBlue);
  font-size: 1.5rem;
}
.cardBody {
  justify-content: flex-start;
  height: 50%;
  padding: 10px;
  font-size: 0.8rem;
}
.cardFooter {
  height: 20%;
  background-color: var(--color-palette-imperialRed);
}
a:link, a:hover {
  text-decoration: none;
}
.cardHeadClr:hover {
  color: var(--color-palette-imperialRed);
}

.card-icon {
  font-size: 1.3rem; 
  padding: 0 0.5rem;
}

a.card-icon {
  text-decoration: none;
  color: white;
}

// category show
.catBody, .catHead, .catActions, .catMid {
  display: flex;
  align-items: center;
}
.catBody, .catHead, .catMid {
  flex-direction: column;
}
.catDes, .catBtn:hover {
  color: var(--color-palette-celadonBlue);
}
.catTitle {
  color: var(--color-palette-prussianBlue);
}

.catBody {
  justify-content: flex-start;
  width: 100vw;
}
.catHead {
  justify-content: flex-end;
  margin-top: 5px;
}
.catTitle {
  width: 800px;
  border-bottom: 1.5px solid var(--color-palette-prussianBlue);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.catActions {
  justify-content: space-between;
  width: 18%;
  margin-top: 5px;
  font-size: 0.9rem;
}
.catBtn {
  border: 1.4px solid var(--color-palette-prussianBlue);
  border-radius: 5px;
  background-color: var(--color-palette-prussianBlue);
  color: var(--color-palette-honeydew);
  font-weight: bold;
}
.catMid {
  justify-content: center;
  margin-bottom: 20px;
}

.progressCon {
  width: 500px;
  margin: 5px 0px 5px 0px;
  color: green;
  text-align: center;
}