<% @categories.each do |category| %>
  <div class="category-container">
    <div class="category-title"> <%= link_to category.title, category %> </div>

    <div><%= category.description %></div>
  </div>
<% end %>