<div class="container">
  <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 align-items-stretch g-4 py-5">
    <% @categories.each do |category| %>
      <div class="myCol">
        <div class="myCard">
          <div class="cardHead"><%= link_to category.title, category %></div>
          <div class="cardBody"><%= category.description %></div>
          <div class="cardFooter">&#9776; | &#9998; | &#10008;</div>
        </div>
      </div>
    <% end %>
  </div>
</div>