<footer class="jumbotron text-center" style="margin-bottom:0">
  <div class="footerTop">
    <div class="footerTopEach">What we do</div>
    <div class="footerTopEach">Our work</div>
    <div class="footerTopEach">Company</div>
    <div class="footerTopEach">Contact</div>
  </div>
  <div class="footerMidOne">
    <%= image_tag("facebookIcon.png", size: "50x40", alt: "facebook") %>
    <%= image_tag("twitterIcon.png", size: "35x35", alt: "twitter") %>
    <%= image_tag("linkedinIcon.png", size: "35x35", alt: "linkedin") %>
    <%= image_tag("instagramIcon.png", size: "35x35", alt: "instagram") %>
  </div>
  <div class="footerMidTwo">
    <div>1 Hacker Way in Menlo Park, CA 94025</div>
    <div>678.874.5800</div>
    <div class="email">hello@myjournal.com</div>
  </div>
  <div class="footerBot">Ruby Project by: <a href="https://github.com/theIanMilan" target="_blank">theIanMilan</a> and <a href="https://github.com/JansonSiy" target="_blank">Janson Siy</a>. All rights reserved.</div>
</footer>