<footer class="jumbotron text-center">
  <div class="footerTop">
    <a href="#" style="color: white"><div class="footerTopEach">What we do</div></a>
    <a href="#" style="color: white"><div class="footerTopEach">Our work</div></a>
    <a href="#" style="color: white"><div class="footerTopEach">Company</div></a>
    <a href="#" style="color: white"><div class="footerTopEach">Contact</div></a>
  </div>
  <div class="footerMidOne">
    <a href="#"><%= image_tag("facebookIcon.png", size: "50x40", alt: "facebook") %></a>
    <a href="#"><%= image_tag("twitterIcon.png", size: "35x35", alt: "twitter") %></a>
    <a href="#"><%= image_tag("linkedinIcon.png", size: "35x35", alt: "linkedin") %></a>
    <a href="#"><%= image_tag("instagramIcon.png", size: "35x35", alt: "instagram") %></a>
  </div>
  <div class="footerMidTwo">
    <div>1 Hacker Way in Menlo Park, CA 94025</div>
    <div>678.874.5800</div>
    <div class="email">hello@myjournal.com</div>
  </div>
  <div class="footerBot">Ruby Project by: <a href="https://github.com/theIanMilan" target="_blank">theIanMilan</a> and <a href="https://github.com/JansonSiy" target="_blank">Janson Siy</a>. All rights reserved.</div>
</footer>